@import './nav.style.general.scss';
@import '../../../styles/styles.general.scss';

@media(min-width: $sizeDesktop) {
  #next__navbar {
    padding: 6rem;
    padding-bottom: 0px;

    .navbar-brand {
      img {
        width: 90px;
      }
    }
  }
}