@import '../../../styles/styles.colors.scss';
@import '../../../styles/styles.fonts.components.scss';


#next__navbar {
  background-color: $next__white !important;

  button {
    border-color: transparent;
    color: transparent;

    span {
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586195320/icon/52menu_atvmli.svg');
    }
  }

  #next__navbar__nav__outer {
    justify-content: flex-end;

    #next__navbar__nav__inner {
      margin-right: 0px !important ;
    }

    .nav-link {
      @extend %hard__blue;
      font-size: 1.6rem;
      font-weight: 700;
      padding-bottom: 0;
      align-self: end;
      padding-right: 30px;
    }
  }
}

