@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(min-width: $sizeDesktop) {
  
  .project__data__list {
    overflow: hidden;
    margin-bottom: 200px;

    .project__item {
      display: grid;
      grid-template-columns: 20rem 1fr;
      grid-template-rows: 260px;
      // overflow: hidden;
      // border: 10px red solid;
    }
  
    .project__item__type {
      @include hard__subinfo;
      color: $next__grey;
      font-size: 12px;
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
      align-self: start;
      // margin-bottom: 10px;
      display: none;
    }

    .image__wrap {

      overflow: hidden;
      grid-column: 2/3;
      grid-row: 1/3;
      padding-left: 30px;
      opacity: 0;

      .image {
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 600px;
        height: 300px;
        

        &__member {
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586185027/project/piper_ocu6tm.webp');
          background-size: 100% auto;
        }

        &__software {
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586185036/project/turingplaceholder_o7jwvb.webp');
          background-size: 100% auto;
        }

        &__hofstra {
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1587582169/project/image10_ffht0c.webp');
          background-size: 100% auto;
          background-position: center;
        }

        &__fordham {
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586185013/project/fordham_i1nt4m.webp');
          background-size: 100% auto;
        }

        &__google {
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1587656600/project/google_4_gy06mm.webp');
          background-size: 100% auto;
        }
      }
    }

    .project__item__title {
      overflow: hidden;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      z-index: 2;

      a {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        text-align: left;

        .title__stroked {
          overflow: hidden;
          grid-column: 2 / -1;
          grid-row: 1 / 2;
          z-index: 2;
          // border: 1px red solid;

      
          p {
            @include soft__coral__title;
            text-align: left;
            white-space: nowrap;
            font-size: 200px;
            width: auto;
            direction: ltr;
      
            @supports (-webkit-text-stroke: 3px black) {
              -webkit-text-stroke: 3px $next__coral;
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
            }
          }
        }
        
        .title__filled {
          direction: rtl;
          overflow: hidden;
          grid-column: 2 / -1;
          grid-row: 1 / 2;
          z-index: 3;
          opacity: 0;
      
          p {
            @include soft__coral__title;
            text-align: left;
            white-space: nowrap;
            font-size: 200px;
            color: $next__white;
            width: auto;
            direction: ltr;
            // border: 10px red solid;
            // margin-top: 150px;
          }
        }

        .title__underline {
          direction: rtl;
          grid-column: 1 / 3;
          grid-row: 1 / 2;
          display: none;
          // justify-self: end;
          float: right;
          border-bottom: 8px $next__coral solid;
          margin-bottom: 33px;
        }
      }
    }
  }
}