@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(min-width: $sizeDesktop) {
  
  .project__data__list {
    margin-bottom: 200px;

    .project__item {
      display: grid;
      grid-template-columns: 20rem 1fr;
      grid-row: 1fr;
    }
  
    .project__item__type {
      @extend %hard__subinfo;
      color: $next__grey;
      display: none;
    }
  
    .project__item__image {

      &__
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586185036/project/turingplaceholder_o7jwvb.jpg');
      background-repeat: no-repeat;
      background-size: auto 100%;
      width: 100%;
      height: 100%;
    }

    .project__item__title {
      overflow: hidden;
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      z-index: 2;

      a {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        text-align: left;

        .title__stroked {
          overflow: hidden;
          grid-column: 2 / -1;
          grid-row: 1 / 2;
          z-index: 2;
      
          div {
            @extend .soft__coral__title;
            text-align: left;
            white-space: nowrap;
            font-size: 200px;
            width: auto;
            direction: ltr;
      
            @supports (-webkit-text-stroke: 3px black) {
              -webkit-text-stroke: 3px $next__coral;
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
            }
          }
        }
        
        .title__filled {
          direction: rtl;
          display: none;
          overflow: hidden;
          grid-column: 2 / -1;
          grid-row: 1 / 2;
          z-index: 3;
      
          div {
            @extend .soft__coral__title;
            text-align: left;
            white-space: nowrap;
            font-size: 200px;
            color: $next__white;
            width: auto;
            direction: ltr;
            // border: 10px red solid;
            // margin-top: 150px;
          }
        }

        .title__underline {
          grid-column: 1 / 3;
          grid-row: 1 / 2;
          display: none;
          border-bottom: 5px $next__coral solid;
          margin-bottom: 1px;
        }
      }
    }
  }
}