@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(max-width: $sizeMobile) {
  
  .project__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project__item__line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / 3;
  }

  .project__item__type {
    @extend %hard__subinfo;
    color: $next__grey;
    display: none;
  }
  
  .project__item {
  
    &:hover {
      cursor: pointer;
    }
  }
  
  .project__item__right {
    margin-bottom: 100px;
    float: right;
    border-right: 3px solid $next__coral;
    padding-right: 20px;
    grid-column: 1;  
  }
  
  .spacer__right {
    width: 100%;
    height: 100%;
    // background-color: red;
    grid-column: 2;
  }
  
  .spacer__left {
    width: 100%;
    height: 100%;
    content: "";
    // background-color: red;
    grid-column: 1;
  }
  
  .project__item__left {
    margin-bottom: 100px;
    text-align: left;
    float: left;
    border-left: 3px solid $next__coral;
    padding-left: 20px;
    grid-column: 2;
  }
  
  .project__item__title {
    a{ 
      // border: 10px red solid;

      .title__stroked {
        // border: 10px red solid;
        text-align: left;
      }

      .title__filled {
        // border: 10px red solid;
        display: none;
      }
    }

    p {
      // @extend .soft__coral__title;
      font-size: 72px;
      @supports (-webkit-text-stroke: 3px black) {
        -webkit-text-stroke: 2px $next__coral;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: all 2s ease-in-out;
        text-align: left;
        margin-left: 20px;

        // test
        background-color: #06038D;
        background-repeat: no-repeat;
        height: -100px;
        background-position: 25% 75%;
        
      }

      &:hover {
        color: $next__coral;
        -webkit-text-fill-color: $next__coral;
      }
    }
  }
}