@import '../../../styles/styles.fonts.components.scss';

.info__table {
  grid-column: 6 / 10;
  height: auto;
  background-color: $next__white;
  border: 1px solid $next__blue;

  .info__item {
    border: 1px solid $next__blue;
    padding-left: 10px;

    &__title {
      @extend .soft__blue__info;
      text-transform: capitalize;
      padding-top: 10px;
    }

    &__value {
      @extend .hard__coral__info;
      text-transform: uppercase;
      font-weight: 400;
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }
}
