@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';


@media(min-width: $sizeDesktop) {

  .service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row: 1 / -1;
    grid-column: 1 / -1;

    .service__left {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      grid-row: 1 / -1;
      grid-column: 1 / 2;

      &__title {
        @extend .soft__white__title;
        font-size: 96px;
        padding-left: 55px;
        grid-column: 1/3;
      }

      &__icon {

        background-position: left center;
        margin-left: 55px;
        margin-bottom: 10px;

        &__computation {
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1587671497/icon/bimbot_rbl4kq.svg');
          background-repeat: no-repeat;
          background-size: auto 55%;
          grid-column: 1 / -1;
          grid-row: 2 / 3;
        }

        &__experience {
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1587671497/icon/simbot_jklbfs.svg');
          background-repeat: no-repeat;
          background-size: auto 65%;
          grid-column: 1 / -1;
          grid-row: 2 / 3;
        }

        &__innovation {
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1587671497/icon/innbot_fhb2vt.svg');
          background-repeat: no-repeat;
          background-size: auto 65%;
          grid-column: 1 / -1;
          grid-row: 2 / 3;
        }
      }
    }

    .service__right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      grid-row: 1 / -1;
      grid-column: 2 / 3;

      &__descriptiontitle {
        @extend .soft__white__title;
        font-size: 64px;
        grid-row: 2/3;
        grid-column: 1/3;
        align-self: end;
        text-align: right;
        padding-bottom: 380px;
        padding-right: 50px;
      }
      
      &__descriptiontext {
        @extend .soft__white__title;
        font-size: 24px;
        font-weight: 400;
        grid-row: 2/3;
        grid-column: 1/3;
        align-self: end;
        text-align: right;
        padding-bottom: 250px;
        padding-right: 50px;
        padding-left: 50px;
      }
    }
  }
  
}
