@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

.soft__blue__subtitle {
  @extend %soft__blue__subtitle;
}

.soft__white__subtitle {
  @extend %soft__white__subtitle;
}

@media(min-width: $sizeDesktop) {
  .service__detail {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    // border: 10px red solid;
  }

  .service__detail__mainbox {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
    grid-column: 1 / 6;
    grid-row: 1 / 11;
  }

  .service__detail__box__coral {
    position: relative;
    grid-column:  4 / 10;
    grid-row: 2 / 10;
    background-color: #E03E52;
    margin: 10px;
    z-index: 3;
  }

  .service__detail__box__white {
    position: relative;
    grid-column:  4 / 10;
    grid-row: 2 / 10;
    background-color: white;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 2px solid #E03E52;
  }

  .service__detail__title {
    @extend .soft__white__title;

    grid-column: 5/9;
    grid-row: 3 / 5;
    z-index: 3;
    text-align: right;
  }

  .service__detail__description {
    @extend .soft__blue__subtitle;
    font-size: 20px;
    font-weight: 400;
    grid-column: 5/9;
    grid-row: 5/9;
    z-index: 3;
    text-align: right;
  }

  .cta_contactus {
    @extend .soft__white__subtitle;
    font-size: 24px;
    grid-column: 5 / 9;
    grid-row: 9 / 10;
    z-index: 3;
    text-align: right;
    justify-self: end;
    align-self: end;
    height: 30px;
    margin-bottom: 50px;
    
    border-bottom: 10px $next__blue solid;
  }

  .service__detail__outerbox {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
    grid-column: 7 / 11;
    grid-row: 1 / 11;
    margin-top: 30px;
  }

  .service__detail__subtitle1 {
    @extend .soft__white__title;

    font-size: 48px;
    grid-column: 1/8;
    grid-row: 3/4;
  }

  .service__detail__subtitle1description {
    @extend .soft__white__subtitle;

    font-size: 16px;
    grid-column: 2/10;
    grid-row: 4/5;
    font-weight: 400;
    
  }

  .cta1 {
    @extend .soft__white__subtitle;

    font-size: 24px;
    grid-column: 2/10;
    grid-row: 4/5;
    align-self: end;
    justify-self: end;
    height: 32px;
    border-bottom: 10px #E03E52 solid;
  }

  .service__detail__subtitle2 {
    @extend .soft__white__title;

    font-size: 48px;
    grid-column: 1/6;
    grid-row: 6/7;
    
  }

  .service__detail__subtitle2description {
    @extend .soft__white__subtitle;
    font-size: 16px;
    grid-column: 2/10;
    grid-row: 7/8;
    font-weight: 400;
  }

  .cta2 {
    @extend .soft__white__subtitle;

    font-size: 24px;
    grid-column: 2/10;
    grid-row: 7/8;
    align-self: end;
    justify-self: end;
    height: 32px;
    border-bottom: 10px #E03E52 solid;
    // border: 10px red solid;
  }

  .service__detail__subtitle3 {
    @extend .soft__white__title;
    
    font-size: 48px;
    grid-column: 1/6;
    grid-row: 9/10;
  }

  .service__detail__subtitle3description {
    @extend .soft__white__subtitle;
    font-size: 16px;
    grid-column: 2/10;
    grid-row: 10/11;
    font-weight: 400;
  }

  .cta3 {
    @extend .soft__white__subtitle;

    font-size: 24px;
    grid-column: 2/10;
    grid-row: 10/11;
    align-self: end;
    justify-self: end;
    height: 32px;
    border-bottom: 10px #E03E52 solid;
    // border: 10px red solid;
  }


  // .service__detail__box__white {
  //   // grid-column: 2 / 6;
  //   // grid-row: 2 / 8;
  //   width: 700px;
  //   height: 800px;
  //   background-color: white;
  //   // border: 10px green solid;
  // }
}
