@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(min-width: $sizeDesktop) {

  .page__services {
    grid-column: 1 / -1;
    
  }

  .service__data__list {
    margin: 10rem;
    margin-right: 0px;
    overflow: hidden;
  }

  .service__item__title {
    p {
      text-align: left;
    }
  }

}
