@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';


@media(max-width: $sizeMobile) {

  .service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row: 1 / -1;
    grid-column: 1 / -1;

    .service__left {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 800px;
      grid-row: 1 / -1;
      grid-column: 1 / -1;

      &__title {
        display: none;
      }

      &__icon {

        background-position: left;
        z-index: 1;
        opacity: 1;
        // display: none;

        &__computation {
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1587671497/icon/bimbot_rbl4kq.svg');
          background-repeat: no-repeat;
          background-size: cover;
          grid-column: 1 / -1;
          grid-row: 1 / -1;
        }

        &__experience {
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1587671497/icon/simbot_jklbfs.svg');
          background-repeat: no-repeat;
          background-size: cover;
          grid-column: 1 / -1;
          grid-row: 1 / -1;
          
        }

        &__innovation {
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1587671497/icon/innbot_fhb2vt.svg');
          background-repeat: no-repeat;
          background-size: cover;
          grid-column: 1 / -1;
          grid-row: 1 / 2;
        }
      }
    }

    .service__right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      z-index: 2;
      margin-top: 0px;

      &__switch {
        grid-row: 2/3;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        z-index: 3;

        &__item {

          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto auto auto 1fr;
          z-index: 2;

          &__name {
            padding-top: 10px;
            font-size: 24px;
            align-self: start;
            white-space: pre;
            font-size: 22px;
            grid-column: 1/2;

           &__1 {
             grid-column: 1/2;
             grid-row: 1/2;
           }

           &__2 {
              grid-column: 1/2;
              grid-row: 2/3;
            }

          &__3 {
              grid-column: 1/2;
              grid-row: 3/4;
            }      
          }

          &__text {
            font-size: 16px;
            font-weight: 400;
            justify-self: center;
            grid-row: 2/3;
            padding: 20px;
            padding-top: 50px;
            opacity: 1;
            z-index: 2;

            &__1 {
              grid-column: 1/2;
              grid-row: 1/2;
            }
 
            &__2 {
              grid-column: 1/2;
              grid-row: 2/3;
            }
 
           &__3 {
              grid-column: 1/2;
              grid-row: 3/4;
              padding-bottom: 40px;
              
            }
          }
        }
      }

      &__descriptiontitle {
        // @extend .soft__white__title;
        font-size: 36px;
        grid-row: 1/2;
        grid-column: 1/-1;
        padding-right: 30px;
        align-self: start;
        text-align: left;
        z-index: 2;
      }
      
      &__descriptiontext {
        // @extend .soft__white__title;
        font-size: 18px;
        font-weight: 400;
        grid-row: 1/2;
        grid-column: 1/3;
        align-self: start;
        text-align: left;
        padding-top: 120px;
        white-space: pre-wrap;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        z-index: 2;

        p {
          line-height: 40px;

          mark {
            background-color: $next__white;
            color: $next__blue;
          }
        }
      }

      &__back {
        // @extend .soft__white__title;
        font-size: 24px;
        grid-row: 4/5;
        grid-column: 1/3;
        align-self: top;
        justify-self: start;
        height: 32px;
        border-bottom: 10px #E03E52 solid;
      }
    }
  }
}
