@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(min-width: $sizeDesktop) {
  
  .service__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .service__item__line {
    display: grid;
    grid-column: 1 / 3;
  }
  
  .service__item {
    &:hover {
      cursor: pointer;
    }
  }
  
  .service__item__title {
    p {
      @include soft__coral__title;
      font-size: 20rem;
      white-space: nowrap;
      margin-bottom: 2rem;
      transition: all .1s;
      
      @supports (-webkit-text-stroke: 3px black) {
        -webkit-text-stroke: .25rem $next__coral;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transition: 3s ease-in-out;
      }

      // &:hover {
      //   color: white;
      //   -webkit-text-fill-color: white;
      // }
    }
  }
  
  .service__item__type {
    @include hard__subinfo;
    color: $next__grey;
  }
}