@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(max-width: $sizeMobile) {
  
  .service__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .service__item__line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / 3;
  }
  
  .service__item {
  
    &:hover {
      cursor: pointer;
    }
  }
  
  .service__item__right {
    margin-bottom: 100px;
    float: right;
    text-align: right;
    border-right: 3px solid $next__coral;
    padding-right: 20px;
    grid-column: 1;  
  }
  
  .service__right {
    width: 100%;
    height: 100%;
    // background-color: red;
    grid-column: 2;
  }
  
  .service__left {
    width: 100%;
    height: 100%;
    content: "";
    // background-color: red;
    grid-column: 1;
  }
  
  .service__item__left {
    margin-bottom: 100px;
    text-align: left;
    float: left;
    border-left: 3px solid $next__coral;
    padding-left: 20px;
    grid-column: 2;
  }
  
  .service__item__title {
    p {
      // @extend .soft__coral__title;
      font-size: 58px;
      @supports (-webkit-text-stroke: 3px black) {
        -webkit-text-stroke: 1px $next__coral;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        // transition: all 1s ease-in-out;
        text-align: left;
        white-space: pre-wrap;

        // test
        background-color: $next__blue;
        background-repeat: no-repeat;
        height: -100px;
        background-position: 25% 75%;
        
      }
    }
  }
  
  .service__item__type {
    @include hard__subinfo;
    color: $next__grey;
    // border: 1px solid green;
  }
}