@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(min-width: $sizeDesktop) {
  .service__detail {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    border: 10px red solid;
  }

  .service__detail__box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
    grid-column: 1 / 6;
    grid-row: 1 / 11;
  }

  .service__detail__box__coral {
    position: relative;
    grid-column:  3/ 6;
    grid-row: 2 / 8;
    width: 700px;
    height: 800px;
    background-color: #E03E52;;
    border-bottom: 20px white solid;
    border-left: 20px white solid;
  }

  .service__detail__box__coral:after {
    position: absolute;
    height: 50%;
  }

  .info__item__value {
    @extend .soft__white__title;
    font-size: 40px;
  }

  // .service__detail__box__white {
  //   // grid-column: 2 / 6;
  //   // grid-row: 2 / 8;
  //   width: 700px;
  //   height: 800px;
  //   background-color: white;
  //   // border: 10px green solid;
  // }
}
