@import '../../../styles/styles.fonts.components.scss';
@import '../../../styles/styles.general.scss';

.soft__white__title {
  @extend %soft__white__title;
}

.statement__mutable {
  white-space: initial;
  display: grid;
  // grid-column: 1 / 20;
  // grid-row: 1 / 20;
  grid-template-columns: 305px 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 1fr;
  // border: 10px red solid;
}

.statement__description {
  grid-row: 1 / 10;
  grid-column: 1 / 2;
}

.statement__changing {
  @extend .soft__white__title;
  font-size: 24px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  // border: 10px pink solid;
}
