@import '../../../styles/styles.fonts.components.scss';
@import '../../../styles/styles.general.scss';

.soft__white__title {
  @extend %soft__white__title;
}

@media(min-width: $sizeDesktop) {
    
  .statement__mutable {
    white-space: initial;
    display: grid;
    // grid-column: 1 / 20;
    // grid-row: 1 / 20;
    grid-template-columns: 305px 1fr 1fr 1fr;
    grid-template-rows: 109px 1fr 1fr 1fr;
    // border: 10px red solid;
  }

  .statement__description {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    // border: 10px red solid;
  }

  .statement__changing {
    @extend .soft__white__title;
    font-size: 72px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    // border: 10px pink solid;
  }
}