html, body, #root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  // overflow: hidden;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

.app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

%full_width_height {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.full_width_height {
  @extend %full_width_height;
}

.full_width_height {
  @extend %full_width_height;
}

// variables & magic numbers
$sizeDesktop: 1280px;
$sizeMobile: 1279px;
