@import './styles.fonts.families.scss';
@import './styles.colors.scss';

%soft__blue {
  @extend %soft;
  color: $next__blue;
}

%soft__coral {
  @extend %soft;
  color: $next__coral;
}

%soft__black {
  @extend %soft;
  color: $next__black;
}

%hard__blue {
  @extend %hard;
  color: $next__blue;
}

%hard__coral {
  @extend %hard;
  color: $next__coral;
}

%hard__black_right {
  @extend %hard;
  color: $next__black;
  font-size: 24px;
  text-align: right;
}

%hard__black_left {
  @extend %hard;
  color: $next__black;
  font-size: 24px;
  text-align: left;
}

.soft__blue__title {
  @extend %soft__blue;
  font-size: 64px;
  font-weight: 600;
}

.soft__black__title {
  @extend %soft__black;
  font-size: 64px;
  font-weight: 600;
}

.soft__blue__subtitle {
  @extend %soft__blue;
  font-size: 36px;
  font-weight: 600;
}

.soft__coral__title {
  @extend %soft__coral;
  font-size: 72px;
  font-weight: 600;
  text-align: right;
}

.soft__coral__subtitle {
  @extend %soft__coral;
  font-size: 36px;
  font-weight: 600;
}

.soft__black__subtitle {
  @extend %soft__black;
  font-size: 18px;
  font-weight: 600;
}

.soft__black__subtitle__small {
  @extend %soft__black;
  font-size: 12px;
  font-weight: 600;
}

%hard__black_bodytext {
  @extend %hard;
  color: $next__black;
  font-size: 18px;
  text-align: right;
}