// @import url("https://use.typekit.net/xtg7gco.css");
// @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,900&display=swap');

%soft {
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-style: normal;
}

%hard {
  font-family: 'Source Code Pro';
  font-style: normal;
}
