@import './styles.fonts.families.scss';
@import './styles.colors.scss';

%soft__blue {
  @extend %soft;
  color: $next__blue;
}

%soft__coral {
  @extend %soft;
  color: $next__coral;
}

%hard__blue {
  @extend %hard;
  color: $next__blue;
}

%hard__coral {
  @extend %hard;
  color: $next__coral;
}