@import './styles.fonts.families.scss';
@import './styles.colors.scss';

%soft__blue {
  @extend %soft;
  color: $next__blue;
}

%soft__coral {
  @extend %soft;
  color: $next__coral;
}

%soft__black {
  @extend %soft;
  color: $next__black;
}

%hard__black {
  @extend %hard;
  color: $next__black;
}

%soft__white {
  @extend %soft;
  color: $next__white;
}

%hard__blue {
  @extend %hard;
  color: $next__blue;
}

%hard__coral {
  @extend %hard;
  color: $next__coral;
}

%hard__white {
  @extend %hard;
  color: $next__white;
}

%soft__info {
  @extend %soft;
  @extend %info;
}

%hard__info {
  @extend %hard;
  @extend %info;
}

%soft__body {
  @extend %soft;
  @extend %body;
}

%hard__subinfo {
  @extend %hard;
  @extend %subinfo;
}

%hard__black_right {
  @extend %hard;
  color: $next__black;
  font-size: 24px;
  text-align: right;
}

%hard__white_right {
  @extend %hard;
  color: $next__white;
  font-size: 24px;
  text-align: right;
}

%hard__black_left {
  @extend %hard;
  color: $next__black;
  font-size: 24px;
  text-align: left;
}

%soft__blue__title {
  @extend %soft__blue;
  font-size: 72px;
  font-weight: 600;
}

%soft__white__title {
  @extend %soft__white;
  font-size: 72px;
  font-weight: 600;
}

%soft__black__title {
  @extend %soft__black;
  font-size: 64px;
  font-weight: 600;
}

%hard__black__subtitle {
  @extend %hard__black;
  font-size: 12px;
  font-weight: 600;
}

%soft__blue__subtitle {
  @extend %soft__blue;
  font-size: 36px;
  font-weight: 600;
}

%hard__blue__subtitle {
  @extend %hard__blue;
  font-size: 36px;
  font-weight: 600;
}


%soft__coral__subtitle {
  @extend %soft__coral;
  font-size: 18px;
  font-weight: 600;
}

%soft__coral__title {
  @extend %soft__coral;
  font-size: 72px;
  font-weight: 600;
  text-align: right;
}

%soft__black__title {
  @extend %soft__black;
  font-size: 72px;
  font-weight: 600;
  text-align: right;
}

%soft__blue__title {
  @extend %soft__blue;
  font-size: 72px;
  font-weight: 600;
  text-align: right;
}

%soft__coral__subtitle {
  @extend %soft__coral;
  font-size: 36px;
  font-weight: 600;
}

%soft__black__subtitle {
  @extend %soft__black;
  font-size: 18px;
  font-weight: 600;
}

%soft__white__secondtitle {
  @extend %soft__white;
  font-size: 18px;
  font-weight: 600;
}

%soft__white__subtitle {
  @extend %soft__white;
  font-size: 18px;
  font-weight: 600;
}

%soft__blue__subtitle__small {
  @extend %soft__blue;
  font-size: 18px;
  font-weight: 600;
}

%soft__black__subtitle__small {
  @extend %soft__black;
  font-size: 12px;
  font-weight: 600;
}

%hard__black_bodytext {
  @extend %hard;
  color: $next__black;
  font-size: 18px;
  text-align: right;
}

.soft__coral__title {
  @extend %soft__coral__title;
}

.soft__blue__title {
  @extend %soft__blue__title;
}

.soft__black__title {
  @extend %soft__black__title;
}

.soft__white__title {
  @extend %soft__white__title;
}

.soft__coral__subtitle {
  @extend %soft__coral__subtitle;
}

.soft__blue__subtitle {
  @extend %soft__blue__subtitle;
}

.soft__white__subtitle {
  @extend %soft__white__subtitle;
}

.soft__blue__info {
  @extend %soft__info;
  color: $next__blue;
}

.hard__coral__info {
  @extend %hard__info;
  color: $next__coral;
}

.soft__white__body {
  @extend %soft__body;
  color: $next__white;
}