.fade {
  &-appear {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity 1000ms linear;
    }
  }

  &-enter {
    opacity: 0;
    z-index: 1;

    &-active {
      opacity: 1;
      transition: opacity 300ms linear;
    }
  }

  &-exit {
    &-active {
      opacity: 0;
      transition: opacity 300ms linear;
    }

    &-done {
      opacity: 0;
    }
  }
}
