// @import url("https://use.typekit.net/xtg7gco.css");
// @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,900&display=swap');

%soft {
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-style: normal;
}

%hard {
  font-family: 'Source Code Pro';
  font-style: normal;
}

%info {
  font-size: 24px;
  font-weight: 700;
}

%subinfo {
  font-size: 18px;
  font-weight: 600;
}

%body {
  font-size: 24px;
  font-weight: 400;
}

%title {
  font-size: 72px;
  font-weight: 600;
}

%subtitle {
  font-size: 48px;
  font-weight: 600;
}


