@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

.hard__black__subtitle {
  @extend %hard__black__subtitle;
}

.hard__white__subtitle {
  @extend %hard__white__subtitle;
}

@media(min-width: $sizeDesktop) {

  .page__team {
    width: 100%;
    height: 100%;
    grid-column: 2 / 10;
    grid-row: 1 / -1;
    margin-bottom: 0px;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);

    .page__team__items {
      grid-column: 1 / -1;
      grid-row: 3 / 12;
    }
  }

  .team__list {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    // border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 10rem;
    // row-gap: 10px;
  }

  .team__item {
    // border: 1px solid orange;
    height: 300px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);

    p {
      margin-bottom: 0px;
    }

    &__name {
      @include soft__white__title;
      font-size: 24px;
      white-space: nowrap;
      align-self: end;
      // justify-self: end;
      grid-row: 1/2;
      grid-column: 2/4;
      z-index: 2;
      margin-bottom: 0;
      text-align: left;
      margin-left: 50px;
      // align-self: start;
      // line-height: 100px
    }

    &__position {
      @include soft__white__title;
      font-size: 18px;
      white-space: nowrap;
      margin-top: 1px;
      grid-row: 2 / 3;
      grid-column: 2 / 4;
      z-index: 2;
      margin-left: 50px;
      // text-align: right;
    }

    &__location {
      @include soft__white__title;
      font-size: 18px;
      white-space: nowrap;
      align-self: end;
      margin-bottom: 0;
      grid-column: 2/4;
      grid-row: 2/3;
      z-index: 2;
      text-align: left;
      margin-left: 50px;
    }

    &__block {
      overflow: hidden;
      grid-column: 1 / -1;
      grid-row: 2 / 6;
      z-index: 1;

      &__content {
        background-image: url("https://res.cloudinary.com/next-hlw/image/upload/v1586185079/icon/53trapazoid_qeebow.webp");
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%;
      }
    }
  }

  .team__item__image {

    // border: 10px red solid;
    position: relative;
    background-position: center;
    grid-row: 2 / 6;
    grid-column: 1 / 3;
    background-size: cover;
    z-index: 6;

    &__devore {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1654214754/Team%20Headshot%202022/XP-PNG_jgotij.webp');
    }

    &__xiaoxuan {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1654214754/Team%20Headshot%202022/XP-PNG_jgotij.webp');
    }

    &__bharti {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1654214754/Team%20Headshot%202022/BK-PNG_kqimer.webp');
    }

    &__chenzhang {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1654214754/Team%20Headshot%202022/CW-PNG_u7ts5n.webp');
    }

    &__jeff {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1654214755/Team%20Headshot%202022/JB-PNG_nc5asd.webp');
    }
 
    &__kp {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1654214754/Team%20Headshot%202022/KP-PNG_jrmfzz.webp');
    }

    &__tanjhid {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1654214754/Team%20Headshot%202022/KP-PNG_jrmfzz.webp');
    }

    &__abhishek {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1654214754/Team%20Headshot%202022/KP-PNG_jrmfzz.webp');
    }

    &__stephen {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1654214754/Team%20Headshot%202022/SM-PNG_brgotp.webp');
    }

    &__preston {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586184911/team/funny/preston_funny_tg7pnf.webp');
    }
  }
  
  .spacer__position__1 {
    display: 1fr;
  }

  .spacer__position__3 {
    display: 1fr;
  }

  .spacer__position__5 {
    display: 1fr;
  }

  .spacer__position__7 {
    display: 1fr;
  }

  .spacer__position__9 {
    display: 1fr;
  }
  .spacer__position__11 {
    display: 1fr;
  }
  .spacer__position__13 {
    display: 1fr;
  }
  .spacer__position__15 {
    display: 1fr;
  }
  .spacer__position__17 {
    display: 1fr;
  }
}