@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(min-width: $sizeDesktop) {

  .app__content {
    // border: 10px red solid;
    display: grid;
    grid-template-rows: repeat(14, 500px);
    grid-template-columns: repeat(14, 100px);
  }

  .team__detail {
    border: 10px blue solid;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: repeat(20, 100px);
    grid-template-columns: repeat(20, 100px);
  }
}