@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

.soft__white__title {
  @extend %soft__white__title;
}

.hard__coral__subtitle {
  @extend %hard__coral__subtitle;
}

@media(max-width: $sizeMobile) {

  .app__content {
    // border: 10px red solid;
  }

  .team__detail {
    // border: 10px blue solid;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
  }

  // .slash {
  //   background-image: url(../../assets/svg/icons/54slash.svg);
  //   background-repeat: no-repeat;
  //   height: 100px;
  //   grid-column: 3/4;
  //   grid-row: 2/3;
  //   margin-left: 50px;
  // }

  .borderbottom {
    grid-column: 12/17;
    grid-row: 9/10;
    // height: 100px;
    // width: 100px;
    border-top: 3px white solid;
  }

  .team__detail__name {
    // @extend .soft__coral__title;
    grid-column: 1/5;
    grid-row: 1/3;
    text-align: right;
    font-size: 32px;
    z-index: 5;
    white-space: pre-line;
    margin-left: 4px;
    // line-height: 110px;
    // border: 10px red solid;
  }

  .team__detail__position {
    // @extend .soft__white__title;
    grid-column: 1/5;
    grid-row: 3/4;
    font-size: 12px;
    // margin-right: 50px;
    // margin-top: 12px;
    text-align: right;
    align-self: start;
    white-space: pre-wrap;
  }

  .team__detail__email {
    // @extend .hard__coral__subtitle;
    grid-column: 1/5;
    grid-row: 3/4;
    font-size: 12px;
    // margin-right: 50px;
    text-align: right;
    justify-self: end;
    align-self: end;
  }

  .team__detail__description {
    // @extend .soft__white__title;
    // border: 10px black solid;
    grid-column: 1 / -1;
    grid-row: 5 / 8;
    font-size: 12px;
    position: center;
    text-align: left;
    white-space: pre-wrap;
  }


  .team__detail__pictureURL {
    background-repeat: no-repeat;
    z-index: 4;
    // height: 700px;
    // width: 500px;
    grid-row: 1/4;
    grid-column: 7/11;
    // margin-right: 10px;
    background-size: auto 120%;
    // margin-right: 10px;
  }

  .team__detail__pictureURL {

    // border: 10px red solid;
    background-position: center;

    &__adam {
      @extend .team__detail__pictureURL;
      background-image: url('../../assets/photo/team/professional/adam_prof.png');
      filter: grayscale(1);
    }

    &__andrew {
      @extend .team__detail__pictureURL;
      background-image: url('../../assets/photo/team/professional/andrew_prof.png');
      filter: grayscale(1);
    }

    &__bharti {
      @extend .team__detail__pictureURL;
      background-image: url('../../assets/photo/team/professional/bharti_prof.png');
      filter: grayscale(1);
    }

    &__chris {
      @extend .team__detail__pictureURL;
      background-image: url('../../assets/photo/team/professional/chris_prof.png');
      filter: grayscale(1);
    }

    &__jeff {
      @extend .team__detail__pictureURL;
      background-image: url('../../assets/photo/team/professional/jeff_prof.png');
      filter: grayscale(1);
    }
 
    &__kp {
      @extend .team__detail__pictureURL;
      background-image: url('../../assets/photo/team/professional/kp_prof.png');
      filter: grayscale(1);
    }

    &__mina {
      @extend .team__detail__pictureURL;
      background-image: url('../../assets/photo/team/professional/mina_prof.png');
      filter: grayscale(1);
    }

    &__ruyi {
      @extend .team__detail__pictureURL;
      background-image: url('../../assets/photo/team/professional/ruyi_prof.png');
      filter: grayscale(1);
    }

    &__stephen {
      @extend .team__detail__pictureURL;
      background-image: url('../../assets/photo/team/professional/stephen_prof.png');
      filter: grayscale(1);
    }

    &__preston {
      @extend .team__detail__pictureURL;
      background-image: url('../../assets/photo/team/professional/preston_prof.png');
      filter: grayscale(1);
    }
  }

  .cta {
    grid-row: 8/10;
    grid-column: 7/10;
    font-size: 16px;
    border-bottom: 10px #e03e52 solid;
    // margin-bottom: 30px;
    justify-self: end;
    height: 25px;
  }
}