@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(max-width: $sizeMobile) {

  .team {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 60px);
  }

  .teamtext {
    border: 3px orange solid;
    grid-row: 1 / 10;
    grid-column: 1 / 10;
    display: grid;
    grid-template-columns: repeat(10, 75px);
    grid-template-rows: repeat(20, 50px);
  }
}