@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(max-width: $sizeMobile) {


  .teamtitle {
    // border: 10px pink solid;
    font-size: 32px;
    text-align: left;
    grid-row: 1/2;
    grid-column: 1/8;
  }

  .team {
    // border: 3px solid red;
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(24, 30px);
  }

  .teamtext {
    grid-column: 1 / 10;
    grid-row: 10 / 17;
    display: grid;
    // width: 100px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 20px);
    // border: yellow 3px solid;
  }

  .team__member {
    border-bottom: 3px solid black;
    width: 300px;
    height: 50px;
    display: grid;
    white-space: pre;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15px 30px;
    padding-top: 10px;
    padding-bottom: 30px; 
  }

  .name {
    font-size: 12px;
    text-align: left;
    grid-column: 1/2;
    grid: 1/2;
  }

  .position {
    font-size: 12px;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
  }

  .location {
    font-size: 12px;
    grid-column: 4/5;
    grid-row: 2/3;

  }
  // .name {
  //   @extend .soft__coral__title;
  //   font-size: 12px;
  //   text-align: left;
  // }

  // .position {
  //   @extend .soft__coral__title;
  //   font-size: 12px;
  //   text-align: left;
  //   grid-row: 2/3;
  //   grid-column: 1/3;
  // }

  // .location {
  //   @extend .soft__coral__title;
  //   font-size: 12px;
  //   text-align: right;
  //   grid-row: 2/3;
  //   grid-column: 2/3;
  // }

  .teamimage {
    // border: 3px pink solid;
    grid-column: 1/10;
    grid-row: 2/10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .image {
    // border: 3px green solid;
    grid-row: 1 / -1;
    grid-column: 1 /-1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .nycpicture {
    background-image: url(../../assets/photo/team/group/grouppicture.png);
    background-repeat: no-repeat;
    background-size: 340px auto;
    grid-column: 1 / 11;
    grid-row: 2 /11;

  }


}
