@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(min-width: $sizeDesktop) {

  .app__content {
    // border: 10px red solid;
  }

  .team__detail {
    // border: 10px blue solid;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: repeat(40, 50px);
    grid-template-columns: repeat(20, 100px);
  }

  .trapazoid {
    background-image: url(../../assets/svg/icons/53trapazoid.svg);
    background-repeat: no-repeat;
    height: 700px;
    grid-column: 1/10;
    grid-row: 2/14;
  }

  .borderbottom {
    grid-column: 12/17;
    grid-row: 9/10;
    // height: 100px;
    // width: 100px;
    border-top: 5px black solid;
  }

  .team__detail__name {
    @extend .soft__blue__title;
    grid-column: 12/15;
    grid-row: 2/4;
    text-align: left;
    font-size: 64px;
  }

  .team__detail__position {
      @extend .soft__black__title;
      grid-column: 12/17;
      grid-row: 7/8;
      font-size: 24px;
      text-align: left;
  }

  .team__detail__email {
    @extend .soft__black__title;
      grid-column: 12/17;
      grid-row: 8/9;
      font-size: 24px;
      text-align: left;
  }

  .team__detail__description {
    @extend .soft__black__title;
    // border: 10px black solid;
    grid-column: 12/17;
    grid-row: 10/16;
    font-size: 16px;
    text-align: left;
    white-space: pre-line;
  }

  .team__detail__pictureURL {
    // border: 10px black solid;
    height: 1000px;
    width: 1000px;
    z-index: 4;
    // border: blue 1000px solid;
  }

  .team__detail__pictureURL__KyungPyo {
    background-image: url('../../assets/photo/team/professional/kp.PNG');
    background-repeat: no-repeat;
    z-index: 4;
    // border: 10px solid black;
    height: 700px;
    width: 500px;
    grid-row: 2/16;
    grid-column: 4/5;
    background-size: auto 101%;
  }

  .cta {
    @extend .soft__black__title;
    grid-row: 16/17;
    grid-column: 15/18;
    font-size: 36px;
    text-align: left;
    
  }
}