@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';


@media(min-width: $sizeDesktop) {
  .team__list {
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 100px;
  }

  .team__item {
    border: 1px solid orange;
    height: 300px;
    display: grid;

    &__block {
      background-image: url('../../assets/svg/icons/53trapazoid.svg');
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }

  }

  
}