@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';


@media(max-width: $sizeMobile) {

  .page__team {
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    margin-top: 10px;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);

    .page__team__items {
      grid-column: 1 / -1;
      grid-row: 3 / 12;
    }
  }

  .team__list {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    // border: 1px solid red;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }

  .team__item {
    // border: 1px solid orange;
    height: 300px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    // line-height: 10px;

    &__name {
      // @extend .soft__white__title;
      font-size: 24px;
      white-space: nowrap;
      grid-row: 1/2;
      grid-column: 2/3;
      z-index: 2;
      height: 20px;
      // line-height: 25px;
      // margin-bottom: 200px;
    }

    &__position {
      // @extend .soft__white__title;
      font-size: 12px;
      white-space: pre-line;
      // align-self: end;
      // height: 10px;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      z-index: 2;
      line-height: 70px;
    }

    &__location {
      // @extend .soft__white__title;
      font-size: 12px;
      white-space: nowrap;
      // height: 10px;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      z-index: 2;
      line-height: 30px;
    }

    &__block {
      background-image: url('../../assets/svg/icons/53trapazoid.svg');
      background-repeat: no-repeat;
      // background-size: auto 70%;
      // height: 400px;
      // width: 500px;
      grid-column: 1 / -1;
      grid-row: 2 / -1;
      // border: red 10px solid;
      z-index: 1;
    }
  }

  .team__item__image {

    // border: 10px red solid;
    background-position: center;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: 6;
    // align-self: start;
    margin-right: 150px;
    margin-bottom: 0px;

    &__adam {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586184762/team/professional/adam_prof_vnuote.png');
    }

    &__andrew {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586184761/team/professional/andrew_prof_gfhnk8.png');
    }

    &__bharti {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586184762/team/professional/bharti_prof_zqcyam.png');
    }

    &__chris {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586184762/team/professional/chris_prof_uon3ej.png');
    }

    &__jeff {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586184762/team/professional/jeff_prof_nwg57e.png');
    }
 
    &__kp {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586184762/team/professional/kp_prof_tfl4w6.png');
    }

    &__mina {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586184762/team/professional/mina_prof_ddmoby.png');
    }

    &__ruyi {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586184762/team/professional/ruyi_prof_sajziz.png');
    }

    &__stephen {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586184762/team/professional/stephen_prof_d5z3dp.png');
    }

    &__preston {
      @extend .team__item__image;
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586184762/team/professional/preston_prof_jw5qgs.png');
    }
  }

  .spacer__position__1 {
    display: none;
  }

  .spacer__position__3 {
    display: none;
  }

  .spacer__position__5 {
    display: none;
  }

  .spacer__position__7 {
    display: none;
  }

  .spacer__position__9 {
    display: none;
  }
  .spacer__position__11 {
    display: none;
  }
  .spacer__position__13 {
    display: none;
  }
  .spacer__position__15 {
    display: none;
  }
  .spacer__position__17 {
    display: none;
  }

}