@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(max-width: $sizeMobile) {

  .page__team {
    grid-row: 1/ -1;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    // border: 10px red solid;

    .page__team__items {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      // border: 10px orange solid;
    }

    .team__item__name {
      @extend .soft__white__title;
      font-size: 24px;
      
      border: 10px red solid;
      margin-bottom: 0rem;
    }
  }

  .team__list {
    border: 10px green solid;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    
  }

}