@import '../../styles/styles.fonts.components.scss';

.about {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(9, 200px);
    grid-template-rows: repeat(9, 100px);
    border: 1px red solid;
}

.about__titlepage {
    display: grid;
    grid-template-columns: repeat(9, 77px);
    grid-template-rows: repeat(9, 88px);
    border: 3px black solid;
    width: 700px;
    height: 800px;
    grid-column-start: 2;
    grid-row-start: 2;
}

.about__title {
    @extend .soft__blue__title;
    font-size: 50px;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align:right
}

.about__description {
    @extend .soft__black__subtitle;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
    text-align: right;
}

.about__quote {
    @extend .soft__blue__subtitle;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: right;
    font-size: 18px;
}

.about__name {
    @extend .soft__blue__subtitle;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 10;
    text-align: right;
    font-size: 18px;
}
