@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';


@media(min-width: $sizeDesktop) {
  .about {
    background-color: #06038d;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
    
  .about__titlepage {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-row: 1 / -1;
    grid-column: 1 / 6;
    z-index: 2;
  }

  .about__coralcard {
    position: relative;
    grid-column:  4 / 10;
    grid-row: 2 / 10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: #E03E52;
    // background-color: black;
    margin: 10px;
    z-index: 3;
  }

  .about__whitecard {
    position: relative;
    grid-column:  4 / 10;
    grid-row: 2 / 10;
    background-color: white;
    border: 2px solid #E03E52;
    // margin: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 2;
  }

  .about__title {
    @extend .soft__white__title;
    font-size: 72px;
    grid-column: 3 / 10;
    grid-row: 1 / 2;
    z-index: 3;
    text-align: right;
    padding-top: 32px;
    padding-bottom: 58px;
    // overflow: hidden;
  }

  .about__description {
    @extend .soft__blue__subtitle;
    font-size: 20px;
    font-weight: 400;
    grid-column: 3/10;
    grid-row: 2/10;
    z-index: 3;
    text-align: right;
    padding-bottom: 44px;
  }

  .about__contactus {
    @extend .soft__white__subtitle;
    font-size: 24px;
    grid-column: 7 / 10;
    grid-row: 10 / 11;
    z-index: 3;
    text-align: right;
    justify-self: end;
    align-self: end;
    // height: 30px;
    padding-bottom: 12px;

    .link__highlighted__background {
      background-color: #06038D;
      border-bottom: 12px solid #06038D;
    }
  }

  .about__category {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
    grid-column: 6 / 10;
    grid-row: 1 / 11;
    // margin-top: 30px;
  }

  .about__titleexperience {
    @extend .soft__white__title;
    font-size: 48px;
    grid-column: 1/-1;
    grid-row: 4/5;
    align-self: end;
    padding-bottom: 20px;
    overflow: hidden;
  }

  .about__subtitleexperience {
    @extend .soft__white__subtitle;
    font-size: 16px;
    grid-column: 2/10;
    grid-row: 5/6;
    font-weight: 400;
    padding-bottom: 29px;
    // padding-top: 20px;
  }

  .about__titleinsight {
    @extend .soft__white__title;
    font-size: 48px;
    grid-column: 1/6;
    grid-row: 6/7;
    overflow: hidden;
    
  }

  .about__subtitleinsight {
    @extend .soft__white__subtitle;
    font-size: 16px;
    grid-column: 2/10;
    grid-row: 7/8;
    font-weight: 400;
    padding-bottom: 29px;
  }

  .about__titlecapabilities {
    @extend .soft__white__title;
    font-size: 48px;
    grid-column: 1/-1;
    grid-row: 8/9;
    overflow: hidden;
  }

  .about__subtitlecapabilities {
    @extend .soft__white__subtitle;
    font-size: 16px;
    grid-column: 2/10;
    grid-row: 9/10;
    font-weight: 400;
    padding-bottom: 30px;
  }

  .about__seehowexperience {
    @extend .soft__white__subtitle;
    font-size: 24px;
    grid-column: 2/10;
    grid-row: 5/6;
    align-self: end;
    justify-self: end;
    height: 32px;
    border-bottom: 10px #E03E52 solid;
  }

  
  .about__seehowinsight {
    @extend .soft__white__subtitle;
    font-size: 24px;
    grid-column: 2/10;
    grid-row: 7/8;
    align-self: end;
    justify-self: end;
    height: 32px;
    border-bottom: 10px #E03E52 solid;
    // border: 10px red solid;
  }

  
  .about__seehowcapabilities {
    @extend .soft__white__subtitle;
    font-size: 24px;
    grid-column: 2/10;
    grid-row: 9/10;
    align-self: end;
    justify-self: end;
    height: 32px;
    border-bottom: 10px #E03E52 solid;
    // border: 10px red solid;
  }
}