@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';


@media(min-width: $sizeDesktop) {
  .app__content {
    // border: 10px red solid;
  }

  .about {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr); 

    &__experiences {
      background-color: $next__blue;
    }

    &__elevate {
      background-color: $next__blue;
    }

    &__insight {
      background-color: $next__blue;
    }

    &__invent {
      background-color: $next__blue;
    }

    &__engage {
      background-color: $next__blue;
    }

    .about__lefthalfgrid {
      grid-row: 1 / -1;
      grid-column: 1 / 3;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;

      .about__icon {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        justify-self: center;
        align-self: center;

        &__experiences {
          @extend .about__icon;
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586986666/icon/monitoricon_q0fggh.svg');
          background-size: auto 60%;
          background-position: center;
        }

        &__elevate {
          @extend .about__icon;
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586986666/icon/rocketicon_i9yyh0.svg');
          background-size: auto 90%;
          background-position: center;
        }

        &__insight {
          @extend .about__icon;
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1587575016/icon/coralgoggle_zthntw.svg');
          background-size: auto 50%;
          background-position: center;
        }

        &__invent {
          @extend .about__icon;
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586987870/icon/flaskicon_z3xxkm.svg');
          background-size: auto 65%;
          background-position: center;
        }

        &__engage {
          @extend .about__icon;
          background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586987870/icon/bubbleicon_eygwwe.svg');
          background-size: auto 65%;
          background-position: center;
        }
      }
    }

    .about__righthalfgrid {

      grid-row: 1 / -1;
      grid-column: 3 / 5;
      display: grid;
      grid-template-rows: 500px 100px 250px;
      grid-template-columns: auto;

      .about__title {
        grid-row: 2/3;
        grid-column: 1/2;
      }

      .about__description {
        @include soft__coral__title;
        font-size: 24px;
        font-weight: 400;
        grid-row: 3/4;
        grid-column: 1/2;
        align-self: start;
        justify-self: start;
      }

      .about__seehow {
        @include soft__white__title;
        font-size: 24px;
        padding-top: 100px;
        grid-row: 3/4;
        grid-column: 1/2;
        width: 95px;
        justify-self: end;
        margin-right: 226px;

      }

      .about__previous {
        @include soft__white__title;
        padding-top: 100px;
        font-size: 24px;
        grid-row: 3/4;
        grid-column: 1/2;
        justify-self: end;
        margin-right: 400px;
        border-bottom: 15px solid #E03E52;
        height: 135px;

        &:hover {
          cursor: pointer;
          border-bottom: 34px solid #E03E52;
          transition: all .1s ease-in-out;
        }
      }

      .about__next {
        @include soft__white__title;
        padding-top: 100px;
        font-size: 24px;
        grid-row: 3/4;
        grid-column: 1/2;
        justify-self: end;
        margin-right: 100px;
        border-bottom: 15px solid #E03E52;
        height: 135px;

        &:hover {
          cursor: pointer;
          border-bottom: 34px solid #E03E52;
          transition: all .1s ease-in-out;
        }
      }
    }
  }
}