@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

.soft__blue__title {
  @extend %soft__blue__title;
}

.soft__black__title {
  @extend %soft__black__title;
}

.soft__white__title {
  @extend %soft__white__title;
}

.soft__white__secondtitle {
  @extend %soft__white__secondtitle;
}

.soft__blue__subtitle {
  @extend %soft__blue__subtitle;
}

.hard__blue__subtitle {
  @extend %hard__blue__subtitle;
}

.soft__black__subtitle {
  @extend %soft__black__subtitle;
}

.soft__white__subtitle {
  @extend %soft__white__subtitle;
}

@media(min-width: $sizeDesktop) {
  .about {
    background-color: #06038d;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(9, 200px);
    grid-template-rows: repeat(9, 100px);
  }

  .aboutduplicategrid {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    grid-template-columns: repeat(20, 15px);
    grid-template-rows: repeat(20, 16px);
  }
    
  .about__titlepage {
    display: grid;
    grid-template-columns: repeat(9, 77px);
    grid-template-rows: repeat(18, 44px);
    // border: 3px black solid;
    width: 700px;
    height: 800px;
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #E03E52;
    z-index: 2;
  }

  .about__titlepageback {
    background-color: white;
    border: 5px #E03E52 solid;
    z-index: 1;
    width: 700px;
    height: 800px;
    grid-column-start: 13;
    grid-row-start: 6;
  }

  .about__title {
    @extend .soft__white__title;
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: right;
    line-height: 120%;
  }

  .about__description {
    @extend .soft__blue__subtitle;
    font-size: 18px;
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 12;
    white-space: pre-wrap;
    text-align: right;
    // line-height: 130%;
  }

  .about__contactus {
    @extend .soft__white__subtitle;
    font-size: 32px;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 17;
    grid-row-end: 18;
    // width: 89px;
    border-bottom: 12px solid #06038D;
    text-align: right;
    margin-left: 75px;
    margin-bottom: 2px;
  }

  // .about__quote {
  //   @extend .soft__blue__subtitle;
  //   grid-column-start: 6;
  //   grid-column-end: 9;
  //   grid-row-start: 14;
  //   grid-row-end: 16;
  //   text-align: right;
  //   font-size: 18px;
  // }

  .about__name {
    @extend .soft__blue__subtitle;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 17;
    grid-row-end: 18;
    text-align: right;
    font-size: 18px;
  }

  .about__category {
    grid-template-columns: repeat(20, 44.5px);
    grid-template-rows: repeat(9, 88.5px);
    display: grid;
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 10;
  }

  .about__categoryduplicate {
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(42, 1fr);
    display: grid;
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 10;
  }

  .about__titleexperience {
    @extend .soft__white__title;
    font-size: 48px;
    grid-column-start: 2;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
    // border: 10px red solid;
  }

  .about__subtitleexperience {
    @extend .soft__white__subtitle;
    // font-size: 20px;
    grid-column-start: 3;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
  }

  .about__titleinsight {
    @extend .soft__white__title;
    font-size: 48px;
    grid-column-start: 2;
    grid-column-end: 20;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: left;
  }

  .about__subtitleinsight {
    @extend .soft__white__subtitle;
    // font-size: 16px;
    grid-column-start: 3;
    grid-column-end: 14;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: left;
  }

  .about__titlecapabilities {
    @extend .soft__white__title;
    font-size: 48px;
    grid-column-start: 2;
    grid-column-end: 20;
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: left;
  }

  .about__subtitlecapabilities {
    @extend .soft__white__subtitle;
    // font-size: 20px;
    grid-column-start: 3;
    grid-column-end: 14;
    grid-row-start: 8;
    grid-row-end: 9;
    text-align: left;
  }

  .about__seehowexperience {
    @extend .soft__white__subtitle;
    font-size: 24px;
    grid-column-start: 12;
    grid-column-end: 15;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: right;
    border-bottom: #E03E52 9px solid;
    margin-bottom: 55px;
    margin-left: 40px;
  }

  
  .about__seehowinsight {
    @extend .soft__white__subtitle;
    font-size: 24px;
    grid-column-start: 12;
    grid-column-end: 15;
    grid-row-start: 6;
    grid-row-end: 7;
    text-align: right;
    border-bottom: #E03E52 9px solid;
    margin-bottom: 55px;
    margin-left: 40px;
  }

  
  .about__seehowcapabilities {
    @extend .soft__white__subtitle;
    font-size: 24px;
    grid-column-start: 12;
    grid-column-end: 15;
    grid-row-start: 9;
    grid-row-end: 10;
    text-align: right;
    border-bottom: #E03E52 9px solid;
    margin-bottom: 55px;
    margin-left: 40px;
    
  }

  // .about__highlightexperience {
  //   border-top: #E03E52 9px solid;
  //   grid-column-start: 14;
  //   grid-column-end: 18;
  //   grid-row-start: 12;
  //   grid-row-end: 13;
  //   bottom: 100px;
  //   margin-left: 30px;
  //   margin-right: 18px;
  //   margin-bottom: 10px;
  // }

  // .about__highlightinsight {
  //   border-top: #E03E52 9px solid;
  //   grid-column-start: 14;
  //   grid-column-end: 18;
  //   grid-row-start: 26;
  //   grid-row-end: 27;
  //   margin-left: 30px;
  //   margin-right: 18px;
  //   margin-bottom: 1px;
  // }

  // .about__highlightcapabilities {
  //   border-top: #E03E52 9px solid;
  //   grid-column-start: 14;
  //   grid-column-end: 18;
  //   grid-row-start: 40;
  //   grid-row-end: 41;
  //   margin-left: 30px;
  //   margin-right: 18px;
  //   margin-bottom: 25px;
  // }

  .monitor {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .crossgrid {
    // border: 3px pink solid;
    grid-column: 8/9;
    grid-row: 3/9;
    display: grid;
    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(160, 5px);
  }

  .cross1 {
    height: 100px;
    grid-column: 1/2;
    grid-row: 19/20;
    background-repeat: no-repeat;
    background-image: url(../../assets/svg/icons/51cross.svg);
  }

  .cross2 {
    height: 100px;
    grid-column: 1/2;
    grid-row: 55/56;
    background-repeat: no-repeat;
    background-image: url(../../assets/svg/icons/51cross.svg);
  }

  .cross3 {
    height: 100px;
    grid-column: 1/2;
    grid-row: 108/110;
    background-repeat: no-repeat;
    background-image: url(../../assets/svg/icons/51cross.svg);
  }
}