@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(min-width: $sizeDesktop) {
  .app__content {
    width: 100%;
    height: 100%;
  }

  .callback {
    width: 100%;
    height: 100%;
    background-color: #06036d;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/-1;
    grid-row: 1/-1;

    .callback__left {
      grid-column: 1/2;
      grid-row: 1/-1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    .callback__title {
      @include soft__white__title;
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 12rem;
      justify-self: start;
      align-self: end;
      line-height: 1rem;
      margin-left: 6rem;
    }

    .callback__subtitle {
      @include soft__white__title;
      grid-column: 1/3;
      grid-row: 3/4;
      margin-top: 3rem;
      font-size: 3.6rem;
      justify-self: start;
      align-self: end;
      text-align: left;
      margin-left: 6rem;
    }

    .callback__contact {
      @include soft__white__title;
      grid-column: 1/3;
      grid-row: 4/5;
      font-size: 3.6rem;
      justify-self: start;
      align-self: start;
      text-align: left;
      margin-left: 6rem;
    }
    
    .callback__right {
      grid-column: 2/3;
      grid-row: 1/-1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    .callback__emoticon {
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1655257728/icon/white_innbot_kkvtja.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 100%;
      width: 100%;
      grid-column: 1/3;
      grid-row: 1/3;
      margin-top: 3rem;
    }

    .callback__ticketButtonImg {
      background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1586185248/icon/06envelope_jwyoim.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 100%;
      width: 100%;
      scale: 0.2;
      grid-row: 3/4;
      grid-column: 2/3;
    }

    .callback__ticketButtonText {
      @include soft__coral__title;
      font-size: 36px;
      justify-self: start;
      grid-row: 3/4;
      grid-column: 2/3;
      justify-self: center;
      align-self: end;
      margin-bottom: 7rem;
    }
  }
}