@import '../styles/styles.fonts.desktop.scss';
@import '../styles/styles.general.scss';

.full_width_height {
  @extend %full_width_height;
}

@media(min-width: 769px) {

  .app {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 20px;
    // padding: 20px;
  }  

  .app__navigation {
    grid-column: 1 / -1;
  }

  .app__content {
    @extend .full_width_height;
    padding-left: 20px;
    padding-right: 20px;
    grid-column: 2 / 10;
    grid-row: 2 / 10;
    border: 1px solid blue;
  }

}


