@import '../styles/styles.fonts.mobile.scss';
@import '../styles/styles.general.scss';
@import '../styles/styles.colors.scss';

@media(max-width: $sizeMobile) {

  .app {
    background-color: $next__blue;
  }

  .app__navigation {
    grid-column: 1 / -1;
  }

  .app__content {
    background-color: $next__blue;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
}