@import '../styles/styles.fonts.desktop.scss';

@media(min-width: 769px) {

  .app {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }  

}


