@import '../styles/styles.fonts.mobile.scss';
@import '../styles/styles.general.scss';
@import '../styles/styles.colors.scss';

@media(max-width: $sizeLaptop) {

  .app {
    background-color: $next__white;
  }

  .app__navigation {
    grid-column: 1 / -1;
  }

  .app__content {
    background-color: $next__white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}