@import '../styles/styles.fonts.mobile.scss';
@import '../styles/styles.general.scss';

@media(max-width: $sizeMobile) {

  .app {
    border: 10px solid blue;
  }

  .app__navigation {
    border: 5px solid brown;
    grid-column: 1 / -1;
  }

  .app__content {
    border: 5px solid green;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 20px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }

  
}