@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

.soft__white__title {
  @extend %soft__white__title;
}

@media(min-width: $sizeDesktop) {

  .home {
    @include full_width_height;
    display: grid;
    grid-template-rows: auto auto 150px;
    grid-column: 3 / 9;
    grid-row: 2 / 9;
    overflow: hidden;
    border: 10px red solid;
    

    .home__hlw {
      @include soft__coral__title;

      .container {
        display: grid;
        grid-template-columns: auto auto 1fr;
        grid-template-rows: auto 1fr;
        white-space: pre-wrap;
        grid-row: 1/2;
        grid-column: 1/2;
        overflow: hidden;
      }


      p {
        margin-right: -2rem;
        text-align:left;  
        white-space: pre-wrap;
      }

      .link__highlighted {

        grid-row: 1/2;
        grid-column: 1/2;
        margin-top: 110px;
        

        .link__highlighted__background {
          margin-left: -10px;
          margin-right: -10px;
          margin-bottom: 20px;
        }

        &:hover {
          .link__highlighted__background {
            height: 100%;
            margin-top: -30px;
            margin-left: -10px;
            margin-right: -10px;
            margin-bottom: 0px;
            background-color: $next__blue;
            z-index: 1;
          }
    
          .link__highlighted__text {
            color: $next__white;
            z-index: 2;
          }
        }
      }
    }

    .home__tagline {
      @include soft__coral__title;
      overflow: hidden;
      height: auto;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto;
      text-align: left;
      margin-top: 5rem;
      white-space: pre-wrap;
      // margin-right: 50px;
    }

    .home__cta {
      @include soft__blue__title;
      justify-self: right;
      font-size: 18px;
      grid-row: 3 / 4;
      margin-top: 5rem;

      &:hover {
        .link__highlighted {
          .link__highlighted__background {
            // padding: 25px;
            background-color: $next__blue;
          }

          .link__highlighted__text{
            @include soft__white__title;
            font-size: 36px;
            margin-bottom: 20px;
          }
        }
      }

      .link__highlighted {
        .link__highlighted__background {
          // margin-left: -10px;
          // margin-right: -10px;
          margin-bottom: 10px;
          
        }
        .link__highlighted__text { 
          font-size: 36px;
        }
      }
    }
  }
}