@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

.full_width_height {
  @extend %full_width_height;
}

@media(min-width: 769px) {

  .home {
    @extend .full_width_height;
    display: grid;
    width: 100%;
    height: 100%;
    padding-left: 250px;
    padding-right: 250px;

    .home__hlw {
      padding-top: 200px;
    }

    .home__cta {
      justify-self: right;

      p {
        
      }
    }
  }

}