@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

.hard__black_right {
  @extend %hard__black_right;
}

.soft__white__title {
  @extend %soft__white__title;
}

@media(max-width: $sizeMobile) {

  .home {
    @extend .full_width_height;
    grid-template-rows: auto auto 150px;
    display: grid;
    grid-column: 1 / -1;


    .home__hlw {
      padding-top: 15%;
      font-size: 24px;
      text-align: left;
      grid-template-rows: auto auto;
      grid-template-columns: 400px auto;
      display: grid;
      grid-column: 1 / -1;
      grid-column: 1 / 2;

      .container {

        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        display: grid;
        grid-column: 1 / -1;
        grid-column: 1 / -1;

        p {
          text-justify: inter-word;
          margin-right: 5rem;
          white-space: pre-wrap;

          display: grid;
          grid-column: 1 / -1;
          grid-row: 1 / -1;
        }

        span {

          display: grid;
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          justify-self: end;
          align-self: end;
          margin-left: 225px;
          
          a {

            .link__highlighted {
              display: inline-block;
              padding-right: -20rem;
              // border: 1px green solid;
            }
          }
        }
      }

      .link__highlighted__text {
        @extend .soft__white__title;
        font-size: 24px;
        border-bottom: 10px #E03E52 solid;
        margin-right: 300px;
        height: 35px;
      }

    }

    .home__tagline {
      padding-top: 10%;
      font-size: 24px;
      text-align: left;
      white-space: pre-wrap;

      .container {

        .statement__mutable {

          .statement__description {

            p {

            }
          }
        

          .statement__changing {
              line-height: 20px;
            }
        }
      }
    }

    .home__cta {

      grid-column: 1/2;
      font-size: 12px;
      justify-self: right;
      z-index: 2;
      padding-top: 70px;
      padding-right: 40px;
      margin-right: 230px;

      .link__highlighted__text {
        align-self: start;
        justify-self: start; 
        font-size: 24px;
        line-height: 0%;
        border-bottom: 10px #E03E52 solid;
      }
    }
  }
}