@import '../../styles/styles.fonts.desktop.scss';

@media(max-width: 769px) {
  .start {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 20px;
  }
}