@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

.hard__black_right {
  @extend %hard__black_right;
}

@media(max-width: $sizeMobile) {

  .home {
    // @ %hard__black_right;
    border: 10px red solid;
    grid-column: 1/8;
    grid-row: 1/8;
    grid-template-columns: repeat(3, 20px);
    grid-template-rows: repeat(3, 20px);
    // width: 200px;
    // height: 200px;
  }

  .soft__blue__title {
    line-height: 100%;
    font-size: 20px;
  }



}