@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

.hard__black_right {
  @extend %hard__black_right;
}

.soft__white__title {
  @extend %soft__white__title;
}

@media(max-width: $sizeMobile) {

  .home {
    @extend .full_width_height;
    display: grid;
    grid-column: 1 / -1;


    .home__hlw {
      padding-top: 20%;
      font-size: 24px;
      text-align: left;

      .container {
        p {
          text-justify: inter-word;
          margin-right: 5rem;
        }

        span {
          
          a {

            .link__highlighted {
              display: inline-block;
              padding-right: -20rem;
              border: 1px green solid;
            }
          }
        }
      }

      .link__highlighted__text {
        @extend .soft__white__title;
        font-size: 24px;
        border-bottom: 10px #E03E52 solid;
        margin-right: 300px;
        height: 35px;
      }

    }

    .home__tagline {
      padding-top: 10%;
      font-size: 24px;
      text-align: left;
      white-space: pre-wrap;

      .container {

        .statement__mutable {

          .statement__description {

            p {

            }
          }
        

          .statement__changing {
              line-height: 20px;
            }
        }
      }


    }

    .home__cta {

      float: right;
      font-size: 12px;
      justify-self: right;
      z-index: 2;
      padding-top: 100px;
      padding-right: 40px;

      .link__highlighted__text {
        align-self: start;
        justify-self: start; 
        font-size: 24px;
        line-height: 0%;
        border-bottom: 10px #E03E52 solid;

        &:hover {
          .link__highlighted {
            .link__highlighted__background {
              // padding: 25px;
              // height: 100%
              background-color: $next__white;
            }
  
            .link__highlighted__text{
              @extend .soft__coral__title;
              font-size: 18px;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}