@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

.soft__coral__title {
  @extend %soft__coral__title;
}

.hard__black_left {
  @extend %hard__black_left;
}

.hard__black_right {
  @extend %hard__black_right;
}

.hard__white_right {
  @extend %hard__white_right;
}


.soft__blue__title {
  @extend %soft__blue__title;
}

.soft__white__title {
  @extend %soft__white__title;
}

@media(min-width: $sizeDesktop) {

  .contact {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  
  .contact__quote {
    @extend .soft__white__title;
    grid-column: 5/9;
    grid-row: 2/4;
    font-size: 36px;
    font-weight: 400;
  }
  
  .contact__title {
    @extend .soft__coral__title;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .contact__form {
    @extend .hard__white_right;
    grid-row: 5/9;
    grid-column: 5/9;
    text-align: left;
    
    p {
      padding-top: 10px;
      padding-bottom: 0px;
    }
  
    .answerbox {
      border: 3px #E03E52 solid;
      grid-column: 5 / 9;
      height: 40px;
      
      
      .form-control {
        background-color: transparent;
        border: none;
        height: 100%;
      }
      
      .form-control::placeholder {
        color: white;
      }
    }
  
    .answerboxfat {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      border: 3px #E03E52 solid;
      grid-column: 5 / 9;
      height: 130px;

      .form-control {
        // border: 10px green solid;
        height: 100%;
        width: 100%;
        background-color: transparent;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        border: none;
      }
        
      .form-control::placeholder {
        color: white;
      }
    }
    
    .button {
      background-image: url(../../assets/svg/icons/50contactbutton.svg);
      background-repeat: no-repeat;
      background-size: cover;
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      width: 40px;
      height: 40px;
      align-self: end;
      justify-self: end;
      z-index: 10;
    }
  }
  
  .contact__info {
    @extend .hard__white_right;
    display: grid;
    // border: 1px solid red;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 9;
  }
  
  .contact__info__item {
    display: grid;
    grid-template-columns: 1fr 30px;        
  }
  
  .info__icon {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
  }
  
  .info__text {
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 20px;
    text-align: right;
    white-space: pre;
    padding-right: 50px;
  }
  
  .contact__info__phone {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  
  }
  
  .contact__info__email {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-right: 3px;
  }
  
  .contact__info__insta {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-right: 3px;
  
  }
  
  .contact__info__location {
    grid-template-rows: 20px 20px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    
  }

  .contact__nameslash {
    display: none;
  }

  .contact__emailslash {
    display: none;
  }

  .contact__messageslash {
    display: none;
  }
}

// .cellphoneicon, .emailicon, .cameraicon, .locationicon {
//   width: 30px;
//   height: 30px;
//   float: right;
// }

// .information {
//   // border: 1px solid red;
//   display: grid;
//   grid-template-columns: repeat(6, 1fr);
//   grid-gap: 20px;
//   padding: 5px;


//   .text {
//     border: 0px solid green;
//     grid-column: 1 / 6;
//     text-align: center;
//     text-align: right;
//     padding: 10px;
    
//   }

//   .icon {
//     border: 0px solid blue;
//     grid-column: 6/ 7;
//     padding: 10px;

//   }
// }

// .information_location {
//   display: grid;
//   grid-template-columns: repeat(6, 1fr);
//   grid-row: 7/8;
//   grid-column: 2/4;
//   grid-gap: 20px;
//   padding: 5px;

//   .location_text {
//     border: 0px solid green;
//     grid-column: 1 / 6;
//     text-align: center;
//     text-align: right;
//     padding: 10px;
//   }

//   .location_icon {
//     border: 0px solid blue;
//     grid-column: 6/ 7;
//     padding: 10px;
//   }

// }

