@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media(max-width: $sizeMobile) {
    .contact {
        grid-column: 1/-1;
        grid-row: 1/-1;
        display: grid;
        grid-template-columns: repeat(8, 59px);
        grid-template-rows: repeat(18, 70px);
    }

    .contact__title {
        font-size: 40px;
        font-style: blue;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 7;
        text-align: left;
    }

    .contact__form {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 9;
        font-size: 20px;

        .answerboxfat {
            display: grid;
            grid-template-columns: repeat(13, 39px);
            grid-template-rows: repeat(3, 1fr);
            border: 3px #E03E52 solid;
            height: 130px;
          }

        .button {
            width: 39px;
            height: 39px;
            float: left;
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 12;
            grid-column-end: 13;
          }
    }

    .contact__info {
        border: 1px solid blue;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(13, 30px);
        grid-column: 1 / -1;
        grid-row: 8 / 13;
    }

    .contact__info__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact__info__phone {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

}