@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

.soft__coral__title {
  @extend %soft__coral__title;
}

.hard__black_left {
  @extend %hard__black_left;
}

.hard__black_right {
  @extend %hard__black_right;
}

.hard__white_right {
  @extend %hard__white_right;
}


.soft__blue__title {
  @extend %soft__blue__title;
}

.hard__white__subtitle {
  @extend %hard__white__subtitle;
}

.soft__white__title {
  @extend %soft__white__title;
}

@media(min-width: $sizeDesktop) {
  p {
    margin-bottom: 0rem;
  }

  .contact {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  .contact__title {
    @extend .soft__coral__title;
    // font-size: 32px;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    text-align: right;
    padding-bottom: 22px;
    overflow: hidden;
  }

  .contact__quote {
    @extend .soft__white__title;
    grid-row: 3 / 8;
    grid-column: 2 / 4;
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 18px;
    text-align: right;
  }

  .contact__info {
    grid-row: 3 / -1;
    grid-column: 5 / -1;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100px 100px 100px auto;
    grid-row-gap: 10px;
    margin-top: 25px;

    .contact__info__item {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr;
    }

    .contact__info__phone {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      height: 30px;
      grid-column-gap: 100px;


      .info__text {
        @extend .soft__white__title;
        text-align: left;
        font-size: 72px;
        align-self: center;
        -webkit-text-stroke: 1px $next__white;
        -webkit-text-fill-color: transparent;

        &:hover {
          transition:  0.3s ease-in-out;
          -webkit-text-fill-color: $next__white;
        }

      }

      .info__icon {
        height: 93px;
        width: 70px;
        background-repeat: no-repeat;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: center; 
      }

    }
    
    .contact__info__email {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      grid-column-gap: 100px;

      .info__text {
        @extend .soft__white__title;
        text-align: left;
        font-size: 72px;
        margin-bottom: 40px;
        -webkit-text-stroke: 1px $next__white;
        -webkit-text-fill-color: transparent;

        &:hover {
          transition:  0.3s ease-in-out;
          -webkit-text-fill-color: $next__white;
        }

      }

      .info__icon {
        height: 93px;
        width: 70px;
        background-repeat: no-repeat;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        align-self: center;
        margin-top: 10px;
      }
    }
    
    .contact__info__insta {
      grid-column: 2 / 3;
      grid-row: 3 / 4;  
      grid-column-gap: 100px;

      .info__text {
        @extend .soft__white__title;
        text-align: left;
        font-size: 72px;
        align-self: center;
        -webkit-text-stroke: 1px $next__white;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;

        &:hover {
          transition:  0.3s ease-in-out;
          -webkit-text-fill-color: $next__white;
        }

      }

      .info__icon {
        height: 93px;
        width: 70px;
        background-repeat: no-repeat;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: center;
        margin-top: 10px;
      }
    }

    .contact__info__location {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      grid-column-gap: 100px;
      margin-top: 10px;
      border: 0px;

      a {
        // border: 10px red solid;;

      }

      .info__text {
        @extend .soft__white__title;
        text-align: left;
        font-size: 72px;
        align-self: center;
        white-space: pre-line;
        line-height: 60%;
        padding-top: 20px;
        -webkit-text-stroke: 1px $next__white;
        -webkit-text-fill-color: transparent;

        &:hover {
          transition:  0.3s ease-in-out;
          -webkit-text-fill-color: $next__white;
        }

      }

      .info__icon {
        height: 93px;
        width: 70px;
        background-repeat: no-repeat;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        // align-self: center;
        justify-self: center;
      }
    }
  }
}