@import '../../styles/styles.fonts.components.scss';
@import '../../styles/styles.general.scss';

@media only screen
and (max-width: 500px) {
  .app__content {
    width: 100%;
    height: 100%;
  }

  .login {
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10rem 1fr 1fr;
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  .NEXTlogo {
    display: grid;
    background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1655266031/icon/next_logo_zvt3mi.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    width: 5rem;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 3rem;
    margin-top: 3rem;
  }

  .spreadsheet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1655264504/icon/FOLDER_LOOK_o1ypnf.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    scale: 0.9;
    height: 100%;
    width: 100%;
    grid-column: 1/-1;
    grid-row: 2/4;
  }

  .text {
    @include soft__coral__title;
    grid-column: 1/-1;
    grid-row: 1/-1;
    font-size: 2.4rem;
    text-align: left;
    place-self: center;
  }

  .lock {
    background-image: url('https://res.cloudinary.com/next-hlw/image/upload/v1655264569/icon/LOCK_mlbue7.svg');
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 3/-1;
    grid-row: 3/-1;
    height: 5rem;
    width: 5rem;
    margin-left: 8rem;
    justify-self: center;
  }
}