.section {
  height: 100vh;
}

.tween {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 0 !important;
  position: relative;
  left: calc(50% - 50px);
}

.stagger {
  width: 50px;
  height: 50px;
  left: 700px;
  background-color: green;
  position: relative;
}