html, body {
  scrollbar-width: none;
}

section {
  height: 100vh;
  text-align: center;

  h1 {
    width: 100%;
    // border: 1px solid red;
  }
}

.home {
  overflow: hidden;
  background-color: green;
  width: 100%;
}

.tween {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 0 !important;
  position: relative;
  left: calc(50% - 50px);
}

.stagger {
  width: 50px;
  height: 50px;
  left: 700px;
  background-color: green;
  position: relative;
}