$bp__mobile: 600px;
$bp__tablet: 768px;
$bp__desktop: 1024px;

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 10px;
  scroll-snap-type: y mandatory;
}

* {
  box-sizing: border-box;
}

.section {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  scroll-snap-align: start;
}

@media (max-width: $bp__mobile) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (min-width: $bp__tablet) {
  .title h1 {
    font-size: 7.2rem;
  }
}

@media (min-width: $bp__desktop) {
  .title h1 {
    font-size: 8.4rem;
  }
}